 <%= render 'shared/notices' %>
<section class="section hero-v2 wf-section">
  <div class="position-relative z-index-1">
    <div class="container-small-580px text-center margin-bottom-large">
      <h1 data-w-id="9f985514-f36a-a8e9-4716-94edea79854a" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">The future of remote working is here.</h1>
      <p data-w-id="481eeb74-83d7-598c-fa2d-62142c21e066" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="margin-bottom-40px"><span>PlaceX opens up curated vacation homes and equips them to enable your remote workforce to 'workation' from anywhere.<br></span></p>
      <div data-w-id="8e18463c-f1be-030f-2f8f-9e1dc54f6f9f" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="flex buttons center">
        <div class="split-content button-row-first">
          <!-- Ammended link -->
          <a href="#how-it-works" class="button-primary w-button">Find out more</a>
          <a href="#contact-section" class="button-primary w-button" id="wl-button">Join the waitlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-default position-relative z-index-1 w-container">
    <div data-w-id="617e9434-0b7f-a0fc-747e-ca5505358d46" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="flex position-relative">
      <div class="image-wrapper borders-radius-12px hero-v2-image-1"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650970015/PlaceX_Email_800_600px_800_400px.png" loading="eager" sizes="(max-width: 767px) 83vw, (max-width: 991px) 85vw, (max-width: 1919px) 86vw, 1130.296875px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650970015/PlaceX_Email_800_600px_800_400px.png" alt="Real Agent - Realtor X Webflow Template" class="image cover"></div>
      <div class="image-wrapper borders-radius-12px hero-v2-image-2"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650529173/domenico-loia-hGV2TfOh0ns-unsplash.jpg" loading="eager" sizes="(max-width: 991px) 49vw, (max-width: 1919px) 50vw, 660.3984375px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650529173/domenico-loia-hGV2TfOh0ns-unsplash.jpg" alt="Real Estate - Realtor X Webflow Template" class="image cover"></div>
    </div>
  </div>
  <div class="position-absolute bg-neutral-200 hero-v2"></div>
</section>
<!-- Ammended ID -->
<section class="section overflow-hidden wf-section" id="how-it-works">
  <div class="container-default w-container">
    <div data-w-id="e00b818a-57cd-6598-e2cd-9cae581895fd" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content-wrapper margin-bottom-default">
      <div class="split-content slider-perks-top-left">
        <h2 class="margin-bottom-0px">How it works.<span class="text-breaking-no-wrap"></span></h2>
      </div>
      <div class="split-content slider-perks-top-right">
        <p class="margin-bottom-0px">Let employees access hundreds of curated vaction homes equipped with tools to work productively.</p>
      </div>
    </div>

    <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="false" data-easing="ease" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-hide-arrows="true" data-disable-swipe="false" data-w-id="6f316f70-c5a9-b9c8-df71-7b93a426a392" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="mask slider-perks w-slider-mask">
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650979623/Copy_of_Copy_of_Copy_of_PlaceX_Email_800_600px_800_400px.png" loading="eager" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650979623/Copy_of_Copy_of_Copy_of_PlaceX_Email_800_600px_800_400px.png" alt="Pool - Realtor X Webflow Template" class="image cover" id="set-height"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Curated properties.</h3>
              <p class="margin-bottom-0px">We pick the best properties and give your employees the ability to book them for workations through our platform.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650530371/kevin-bhagat-zNRITe8NPqY-unsplash.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650530371/kevin-bhagat-zNRITe8NPqY-unsplash.jpg" alt="Pool - Realtor X Webflow Template" class="image cover" id="set-me-1"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">The best workation spaces.</h3>
              <p class="margin-bottom-0px">We work to ensure the best facilities to enable productive remote working, from good wifi to zen desk space.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
             <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650980380/Copy_of_Copy_of_Copy_of_PlaceX_Email_800_600px_800_400px_1.png" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650980380/Copy_of_Copy_of_Copy_of_PlaceX_Email_800_600px_800_400px_1.png" alt="Pool - Realtor X Webflow Template" class="image cover" id="set-me-2"> </div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Offer as a benefit or contribute.</h3>
              <p class="margin-bottom-0px">Give your employees credits to book any of our listings or top up their stay to a certain amount.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
        <!-- <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650465319/annie-spratt-MMh57gXsTug-unsplash.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650465319/annie-spratt-MMh57gXsTug-unsplash.jpg" alt="Pool - Realtor X Webflow Template" class="image cover" id="set-me-2"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Explore co-ownership.</h3>
              <p class="margin-bottom-0px">Want more than a few nights? Join likeminded companies to buy 1/8 to 1/2 share in a property we manage for you.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
         <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1649776785/ralph-ravi-kayden-2d4lAQAlbDA-unsplash.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1649776785/ralph-ravi-kayden-2d4lAQAlbDA-unsplash.jpg" alt="Pool - Realtor X Webflow Template" class="image cover" id="set-me-3"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Want full ownership?</h3>
              <p class="margin-bottom-0px">Instruct us to buy, fit out and manage a holiday property you can use for employee workations or as a company retreat.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div> -->

        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650465186/lauren-mancke-xcI7f25UQSs-unsplash.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1650465186/lauren-mancke-xcI7f25UQSs-unsplash.jpg" alt="Pool - Realtor X Webflow Template" class="image cover" id="set-me-3"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Managed to perfection.</h3>
              <p class="margin-bottom-0px">We manage all PlaceX stays with care and concierge employees every stay ensuring a good experience.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-left-arrow v3 w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="slider-right-arrow v3 w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav w-round"></div>
    </div>
  </div>
</section>
<section class="section bg-neutral-200 wf-section">
      <div class="container-default w-container">
        <div class="mobile-max-width-660px mobile-center-element">
          <div class="split-content-wrapper values">
            <div data-w-id="b1aae94d-8cc4-9aad-ccdf-2a92369d81ea" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content values-left" id="el">
              <div class="max-width-492px margin-bottom-small-v3 mobile-center-element">
                <div class="mobile-text-center">
                  <div class="max-width-424px mobile-center-element">
                    <div class="mobile-767px-and-down-max-width-320px mobile-767px-and-down-center-element">
                      <h2 class="margin-bottom-12px">Join the waitlist to build the future of offices.</h2>
                    </div>
                  </div>
                  <p class="margin-bottom-0px">We believe the future office is anywhere, sign up to join other companies on our beta to help us build this future. <!-- <span class="text-breaking-no-wrap">sed vitae.</span> --></p>
                </div>
              </div>
              <div class="card style-5 value">
                <div class="image-wrapper card-value-icon"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9083e6ae49a5a_icon-1-values-realtor-template.svg" loading="eager" alt="Excellence - Realtor X Webflow Template" class="image cover"></div>
                <div class="card-value-content">
                  <h3 class="margin-bottom-8px">The best places to work.</h3>
                  <p class="margin-bottom-0px">We pick the best properties and locations your employees will want to work from.</p>
                </div>
              </div>
              <div class="card style-5 value">
                <div class="image-wrapper card-value-icon"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908c402e49a59_icon-2-values-realtor-template.svg" loading="eager" alt="Quality - Realtor X Webflow Template" class="image cover"></div>
                <div class="card-value-content">
                  <h3 class="margin-bottom-8px">The best facilities.</h3>
                  <p class="margin-bottom-0px">We choose properties with the best facilities to enable work and leisure during their stay.</p>
                </div>
              </div>
            </div>
            <div data-w-id="b1aae94d-8cc4-9aad-ccdf-2a92369d8207" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content values-right" id="el2">
              <div class="card style-5 value">
                <div class="image-wrapper card-value-icon"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9086ca2e49a58_icon-3-values-realtor-template.svg" loading="eager" alt="Achievement - Realtor X Webflow Template" class="image cover"></div>
                <div class="card-value-content">
                  <h3 class="margin-bottom-8px">Reviews.</h3>
                  <p class="margin-bottom-0px">Employees can use reviews to select the best listings and working facilities.</p>
                </div>
              </div>
              <div class="card style-5 value">
                <div class="image-wrapper card-value-icon"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f90841b7e49a57_icon-4-values-realtor-template.svg" loading="eager" alt="Transparency - Realtor X Webflow Template" class="image cover"></div>
                <div class="card-value-content">
                  <h3 class="margin-bottom-8px">Book the right property.</h3>
                  <p class="margin-bottom-0px">Employees can search and book 'Airbnb style' effortlessly through the platform.</p>
                </div>
              </div>
              <div class="card style-5 value">
                <div class="image-wrapper card-value-icon"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f90818b5e49a56_icon-5-values-realtor-template.svg" loading="eager" alt="Accessibility - Realtor X Webflow Template" class="image cover"></div>
                <div class="card-value-content">
                  <h3 class="margin-bottom-8px">UK and international.</h3>
                  <p class="margin-bottom-0px">With a network of UK and expanding international properties easily accessible.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="section position-relative section-big-image wf-section">
  <div class="container-default section-big-image w-container">
    <div class="mobile-max-width-660px mobile-center-element">
      <div class="split-content-wrapper">
        <div data-w-id="143072a1-656d-3e48-f829-03c2e1597803" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content section-image-content-left">
          <h2>PlaceX benefits.</h2>
          <p class="margin-bottom-34px">The ultimate employee retention tool for innovative employers and people managers.</p>
          <div class="w-layout-grid grid-1-column">
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Give employees the ability to work from anywhere.</div>
            </div>
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Better working environments than other options.</div>
            </div>
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Better retain your best remote or hybrid talent.</div>
            </div>
          <!--   <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Gain from pro via optional ownership.</div>
            </div> -->
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Use to reward your hard working employees.</div>
            </div>
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700"> Limit spend per employee or just contribute to stays.</div>
            </div>
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Stand out from other employers to attract talent.</div>
            </div>
          </div>
          <div class="split-content button-row-first padding-top-34">
          <!-- Ammended link -->
            <a href="#contact-section" class="button-primary w-button">Join the waitlist</a>
          </div>
          <div class="slide-nav w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-wrapper position-absolute section-image-right"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1651092300/Copy_of_PlaceX_Email_4.png" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="4a410718-534f-7d64-fa07-496ed529cc65" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1651092300/Copy_of_PlaceX_Email_4.png" sizes="(max-width: 991px) 100vw, 50vw" alt="House Real Estate - Realtor X Webflow Template" class="image cover"></div>
</section>


<!-- <section class="section position-relative section-big-image wf-section">
  <div class="container-default section-big-image w-container">
    <div class="mobile-max-width-660px mobile-center-element">
      <div class="split-content-wrapper">
        <div data-w-id="a52a9fbc-1e8b-7359-8f90-41da5e6715c4" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content section-big-image-content-right">
          <h2>About <span class="text-breaking-no-wrap">PlaceX</span></h2>
          <p class="margin-bottom-40px"><span>PlaceX enables employers and employees to book a selection of hand picked holiday properties in the UK and globally for remote working; as a benefit. <br><br>We oversee per night rental bookings through our platform, managing and concierging employees stays. We work with our hosts to ensure listings have everything employees need to be productive.<br><br>Our mission is to improve remote working for all, and help employers improve remote employees wellbeing and productivity while reducing attrition.</span></p>
          <div class="margin-bottom-small-v2">
            <div class="max-width-476px">
              <div class="w-layout-grid grid-2-columns style-2">
                <div class="achievement-wrapper">
                  <div class="margin-bottom-10px">
                    <div class="h1-size text-medium text-primary-1">180%</div>
                  </div>
                  <div class="text-200 bold text-neutral-800">2021 increase in remote work </div>
                </div>
                <div class="achievement-wrapper">
                  <div class="margin-bottom-10px">
                    <div class="h1-size text-medium text-primary-1">300+</div>
                  </div>
                  <div class="text-200 bold text-neutral-800">PlaceX rental properties</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-wrapper position-absolute section-image-left"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/c_scale,w_1000,f_auto,q_auto/v1649776863/john-fornander-y3_AHHrxUBY-unsplash.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="a390926b-b834-b6f5-1eae-a3de11336098" alt="Real Agent - Realtor X Webflow Template" class="image cover"></div>
</section> -->

<section class="section bg-neutral-200 wf-section" id="contact-section">
  <div class="container-default w-container">
    <div class="mobile-max-width-660px mobile-center-element">
      <div class="split-content-wrapper">
        <div data-w-id="7266e093-2424-e253-c1b3-5ba8266bf6c1" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content contact-section-left">
          <div class="mobile-478px-and-down-max-width-320px mobile-478px-and-down-center-element">
            <h2>Join our waitlist.<span class="text-breaking-no-wrap"></span></h2>
          </div>
          <p class="margin-bottom-26px">Get exclusive beta access and tailored support.</p>
          <div class="w-layout-grid grid-1-column" id="email-card">
            <a href="mailto:contact@realtor.com" class="card card-link card-contact-section w-inline-block">
              <div class="image-wrapper card-contact-section-icon"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908befde49a1c_icon-2-contact-link-realtor-template.svg" loading="eager" alt="Email Icon - Realtor X Webflow Template" class="image cover"></div>
              <div class="card-contact-section-content" id="email-link">
                <div class="margin-bottom-6px">
                  <h3 class="text-200 text-neutral-600 margin-bottom-0px">Or send us an email:</h3>
                </div>
                <div class="h3-size">contact@place-x.io</div>
              </div>
            </a>
          </div>
        </div>
        <div data-w-id="3d4cd5f3-d29b-fbd3-d08f-6160f8330fcf" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content contact-section-right">
          <img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1651089219/Arrow.png" loading="eager" alt="Email Icon - Realtor X Webflow Template" id="arrow-image">
          <div class="card card-contact-section-form" id="contact-form-card">
            <div class="contact-section-form-block w-form">
              <%= form_for ClientEnquiry.new, data: { name: "Contact Section Form" }, html: {class: "contact-section-form", id: "contact-section-form", name: "wf-form-Contact-Section-Form"} do |f| %>
                <%= f.text_field :name, class: 'input add-icon name-icon w-input', id: "name", placeholder: "Full name" , data_name: "Name", :required => true %>
                <%= f.email_field :email, class: 'input add-icon email-icon w-input', placeholder: "Email", data_name: "Email", id: "email", :required => true %>
                <%= f.phone_field :phone_number, pattern: "\+?\d{0,2}[\s\(\-]?([0-9]{3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})", class: 'input add-icon phone-icon w-input', placeholder: "Phone number", id: "phone", required: false %>
                <%= f.text_field :company_name, class: 'input add-icon apartment-icon w-input', id: "apartment", placeholder: "Company name", :required => true %>
           <!--      <div id="w-node-_87c2cb88-4b5f-15dd-67fc-ad1695554fe9-22a1e698" class="input-wrapper">
                  <%#= f.text_area :message, class: 'text-area w-input', rows: "4", cols: "50", id: "message", placeholder: "Send us a message...", required: false %>
                </div> -->
                <div id="w-node-_599965c4-acc3-7572-cab5-6d368ba9655c-22a1e698" class="contact-form-bottom-wrapper">
                  <div class="split-content contact-form-bottom-left">
                    <%= f.submit "Join the waitlist", class: "button-primary bg-primary-1 w-button" %>
                  </div>
                  <div class="split-content contact-form-bottom-right">
                    <div class="flex children-wrap social-media-spacing-18px">
                      <div class="social-media-link-wrapper spacing-18px">
                        <a href="/privacy" target="_blank" class="social-media-link icon-size-14px"><i class="fa-solid fa-building-shield"></i></a>
                      </div>
                     <!--  <div class="social-media-link-wrapper spacing-18px">
                        <a href="https://www.facebook.com/" target="_blank" class="social-media-link"></a>
                      </div>
                      <div class="social-media-link-wrapper spacing-18px">
                        <a href="https://twitter.com/" target="_blank" class="social-media-link icon-size-14px"></a>
                      </div>
                      <div class="social-media-link-wrapper spacing-18px">
                        <a href="https://www.instagram.com/" target="_blank" class="social-media-link"></a>
                      </div>
                      <div class="social-media-link-wrapper spacing-18px">
                        <a href="https://www.whatsapp.com/" target="_blank" class="social-media-link icon-size-17px"></a>
                      </div> -->
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>













<!-- Custom JS to resize the pictures in the scroll -->

<script>
  $(document).ready(function() {
    var height = document.getElementById('set-height').clientHeight
    var image1 = document.getElementById('set-me-1')
    var image2 = document.getElementById('set-me-2')
    var image3 = document.getElementById('set-me-3')
    // var image4 = document.getElementById('set-me-4')
    // var image5 = document.getElementById('set-me-5')

    function updateImageSizeWithHeight(img1, img2, img3, newHeight) {
      img1.style.height = `${newHeight}px`;
      img2.style.height = `${newHeight}px`;
      img3.style.height = `${newHeight}px`;
      // img4.style.height = `${newHeight}px`;
      // img5.style.height = `${newHeight}px`;
    }
    updateImageSizeWithHeight(image1, image2, image3, height);

    window.onresize = function(event) {
      var height = document.getElementById('set-height').clientHeight
      var image1 = document.getElementById('set-me-1')
      var image2 = document.getElementById('set-me-2')
      var image3 = document.getElementById('set-me-3')
      // var image4 = document.getElementById('set-me-4')
      // var image5 = document.getElementById('set-me-5')

      function updateImageSizeWithHeight(img1, img2, img3, newHeight) {
        img1.style.height = `${newHeight}px`;
        img2.style.height = `${newHeight}px`;
        img3.style.height = `${newHeight}px`;
        // img4.style.height = `${newHeight}px`;
        // img5.style.height = `${newHeight}px`;
      }
      updateImageSizeWithHeight(image1, image2, image3, height);
    };
  });

  $("#email-link").click(function()
   {
    window.open("mailto:contact@place-x.io");
   });

  // Fade in the new sections
  const el = document.querySelector('#el')
  const observer = new window.IntersectionObserver(([entry]) => {
    if (entry.isIntersecting) {
      function unfade(element) {
          var op = 0.1;  // initial opacity
          element.style.display = 'block';
          var timer = setInterval(function () {
              if (op >= 1){
                  clearInterval(timer);
              }
              element.style.opacity = op;
              element.style.filter = 'alpha(opacity=' + op * 100 + ")";
              op += op * 0.1;
          }, 10);
      }
      unfade(el)
    }
    console.log('LEAVE')
  }, {
    root: null,
    threshold: 0.1, // set offset 0.1 means trigger if atleast 10% of element in viewport
  })
  observer.observe(el);

  const el2 = document.querySelector('#el2')
  const observer2 = new window.IntersectionObserver(([entry]) => {
    if (entry.isIntersecting) {
      function unfade(element) {
          var op = 0.1;  // initial opacity
          element.style.display = 'block';
          var timer = setInterval(function () {
              if (op >= 1){
                  clearInterval(timer);
              }
              element.style.opacity = op;
              element.style.filter = 'alpha(opacity=' + op * 100 + ")";
              op += op * 0.1;
          }, 10);
      }
      unfade(el2)
    }
    console.log('LEAVE')
  }, {
    root: null,
    threshold: 0.1, // set offset 0.1 means trigger if atleast 10% of element in viewport
  })
  observer2.observe(el2);
</script>

